<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Créer un compte | EVENT-PLACE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="EVENT-PLACE">
    <meta name="copyright" content="Copyright EVENT-PLACE 2024">
    <meta name="description" content=Créez votre compte EVENT-PLACE et profitez des avantages et fonctionnalités : gestion centralisée, achat rapide, annulation en un clic et bien d'autres.>
<link rel="canonical" href="inscription.html" />
<meta property="og:type" content="website">
<meta property="og:url" content="inscription.html">
<meta property="og:title" content='Créer un compte | EVENT-PLACE'>
<meta property="og:description" content=Créez votre compte EVENT-PLACE et profitez des avantages et fonctionnalités : gestion centralisée, achat rapide, annulation en un clic et bien d'autres.>
<meta property="og:image" content="">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="inscription.html">
<meta property="twitter:title" content='Créer un compte | EVENT-PLACE'>
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">
    <meta name="google-signin-client_id" content="926674300782-tn5uj45pauv037at4p9dfrdhrjbtpbfo.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" href="/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="/font/fontawesome-free-6.1.1-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/intlTelInput.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style62ea.css?v=541">
    <style>
        .grecaptcha-badge {
            visibility: visible;
        }
    </style>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
<link rel="manifest" href="../manifest.json" />
<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#f0151f">
<meta name="msapplication-TileColor" content="#f0151f">
<meta name="theme-color" content="#ffffff">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" type="text/css" href="fonts.googleapis.com/csse7ca.css?family=Raleway&amp;display=swap">
<link rel="stylesheet" type="text/css" href="/css/ie10-viewport-bug-workaround.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg w-100">
        <a class="navbar-brand mx-auto" href="../fr.html">
            <img class="img-fluid" src="/img/brand/logo-tikerama.png" alt="EVENT-PLACE, N°1 de la billetterie événementielle en Côte d'Ivoire. Acheter et vendre des tickets d'événements n'a jamais été aussi facile.">
        </a>
    </nav>
    <div class="space-before2"></div>
    <div class="container mb-5">
        <a href="../fr.html" class="text-secondary text-capitalize"><i class="fa-solid fa-angle-left"></i> retour</a>
    <div class="row mt-3">
        <div class="col-lg-6 auth-form">
            <div class="form-content p-3">
                <h1 class="mb-3">Créez un compte</h1>
                <form id="signup-form" method="POST" action="register">
                  <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Nom d'utilisateur *" value="" required>
                        <input type="hidden" name="is_admin" value="0">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder='Adresse email *' value="" required>
                    </div>
                    <div class="form-group">
                        <input type="phone" name="phone" class="form-control" placeholder='Numero de téléphone *' value="" required>
                    </div>
                    <div class="form-group">
                        <div class="password-field">
                            <input type="password" name="password" class="form-control" aria-describedby="password-help" placeholder='Mot de passe *' required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="password-field">
                            <input type="password" name="password_confirm" class="form-control" aria-describedby="password-help" placeholder='Confirmer mot de passe *' required>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <p id="global-form-errorMessage" class="red-color"></p>
                        <button class="btn rounded btn-theme-1" id="submit-button" type="submit">S'inscrire</button>
                    </div>
            </div>
            <div class="mt-5">
                <span>Déjà membre ? <a href="login"><u>Connectez-vous</u></a></span>
            </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
            <h2 class="text-center">Avec un compte EVENT-PLACE</h2>
            <div class="bar-border mx-auto bar-border-02-200"></div>
            <div class="auth-help mt-4">
                <ul>
                    <li>
                        <i class="fa-solid fa-square-check"></i>
                        Soyez informé en direct des événements qui vous intéressent.
                    </li>
                    <li>
                        <i class="fa-solid fa-square-check"></i>
                        Évitez les files d'attente dans les points de vente physiques pour l'achat de tickets.
                    </li>
                    <li>
                        <i class="fa-solid fa-square-check"></i>
                        Achat 7j/7, 24h/24, gestion autonome et améliorée de vos commandes de tickets.
                    </li>
                    <li>
                        <i class="fa-solid fa-square-check"></i>
                        Organisez des événements en tout tranquilité.
                    </li>
                    <li>
                        <i class="fa-solid fa-square-check"></i>
                        Participez aux efforts écologiques.
                    </li>
                    <li>
                        <i class="fa-solid fa-square-check"></i>
                        Et bien d'autres avantages...
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="privacy-policy-embedded" tabindex="-1" role="dialog" aria-labelledby="privacy-policy-embedded" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mx-auto">Politique de confidentialité</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="my-4">
    <h3 class="my-3"><u>Le but de cette politique de confidentialité</u></h3>
    <p>Cette politique de confidentialité s'applique à toutes les données personnelles traitées par EVENT-PLACE SARL en tant que responsable de traitement conformément au droit ivoirien, notamment à la loi n°2013-450 du 19 juin 2013 relative à la protection des données personnelles.</p>
    <p>Les termes «TIKERAMA», «nous» ou «nos/notre» utilisés dans cette politique de confidentialité font référence à EVENT-PLACE SARL. Le terme «plateforme» fait référence au site internet www.tikerama.com et aux applications mobiles version Android et iOS associées. Lorsque nous utilisons les termes «vous» ou «vos/votre», cela inclut les clients potentiels et clients de EVENT-PLACE, visiteurs ou utilisateurs de la plateforme, lors de la consultation ou de l'achat de services ou produits proposés par EVENT-PLACE.</p>
    <p>La présente politique de confidentialité a pour objet d'informer les utilisateurs de notre plateforme des données personnelles que nous collectons et des informations suivantes, le cas échéant :</p>
    <ul class="ml-3">
        <li>1- Les données personnelles que nous collectons</li>
        <li>2- L'utilisation des données recueillies</li>
        <li>3- Qui a accès aux données recueillies</li>
        <li>4- Les droits des utilisateurs de la plateforme</li>
        <li>5- La politique de cookies de la plateforme</li>
    </ul>
    <p>Cette politique de confidentialité fonctionne conjointement avec <a href="../en/conditions/conditions-generales-de-vente.html"><u>nos conditions générales de vente</u></a> et <a href="../en/conditions/conditions-generales-utilisation.html"><u>conditions générales d'utilisation</u></a>.</p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Application</u></h3>
    <p>Nous comprenons que la confidentialité en ligne est importante pour les utilisateurs de notre plateforme. Conformément à la loi n° 2013-450 du 19 juin 2013 relative à la protection des données personnelles et à nos propres engagements, cette politique de confidentialité est conforme aux règlements suivants :</p>
    <p>Les données à caractère personnel sont :</p>
    <ul class="ml-3">
        <li class="mb-3">1- traitées de manière licite, loyale et transparente à l'égard de la personne concernée (licéité, loyauté, transparence) ;</li>
        <li class="mb-3">2- collectées pour des finalités déterminées, explicites et légitimes, et non traitées ultérieurement de manière incompatible avec ces finalités (limitation des finalités) ;</li>
        <li class="mb-3">3- adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;</li>
        <li class="mb-3">4- conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées ; les données personnelles peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins d'archivage dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques (limitation de conservation) ;</li>
        <li class="mb-3">5- traitées de manière à assurer une sécurité appropriée des données personnelles, y compris la protection contre le traitement non autorisé ou illégal et contre la perte, la destruction ou les dommages accidentels, en utilisant des mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).</li>
    </ul>
    <p>Le traitement n'est licite que si et dans la mesure où au moins une des conditions suivantes est remplie :</p>
    <ul class="ml-3">
        <li class="mb-3">1- la personne concernée a consenti au traitement de ses données personnelles pour une ou plusieurs finalités spécifiques ;</li>
        <li class="mb-3">2- le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;</li>
        <li class="mb-3">3- le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;</li>
        <li class="mb-3">4- le traitement est nécessaire pour protéger les intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>
        <li class="mb-3">5- le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;</li>
        <li class="mb-3">6- le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent la protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</li>
    </ul>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Consentement</u></h3>
    <p>Les utilisateurs conviennent qu'en utilisant notre plateforme, ils consentent à :</p>
    <ul class="ml-3">
        <li class="mb-3">1- les conditions énoncées dans la présente politique de confidentialité et</li>
        <li class="mb-3">2- la collecte, l'utilisation et la conservation des données énumérées dans cette politique.</li>
    </ul>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Données personnelles que nous collectons</u></h3>
    <h4 class="my-3"><b>Données collectées automatiquement</b></h4>
    <p>Lorsque vous visitez et utilisez notre plateforme, nous pouvons collecter et stocker automatiquement les informations suivantes :</p>
    <ul class="ml-3">
        <li class="mb-3">1- Adresse IP</li>
        <li class="mb-3">2- Lieu</li>
        <li class="mb-3">3- Détails matériels et logiciels</li>
        <li class="mb-3">4- Liens sur lesquels vous cliquez lorsque vous utilisez la plateforme</li>
        <li class="mb-3">5- Contenus que vous consultez sur notre plateforme</li>
    </ul>
    <h4 class="my-3"><b>Données collectées de façon non automatique</b></h4>
    <p>Nous pouvons également collecter les données suivantes lorsque vous exécutez certaines fonctions sur notre plateforme :</p>
    <ul class="ml-3">
        <li class="mb-3">1- Prénom et nom</li>
        <li class="mb-3">2- Date de naissance</li>
        <li class="mb-3">3- Email</li>
        <li class="mb-3">4- Numéro de téléphone</li>
        <li class="mb-3">5- Adresse de domicile</li>
        <li class="mb-3">6- Documents d'identité personnelle et impersonnelle</li>
        <li class="mb-3">7- Informations de paiement</li>
        <li class="mb-3">8- Données de remplissage automatique</li>
    </ul>
    <p>Ces données peuvent être collectées selon les méthodes suivantes :</p>
    <ul class="ml-3">
        <li>- Enregistrement du compte</li>
        <li>- Formulaires</li>
    </ul>
    <p>Veuillez noter que nous ne collectons que des données qui nous aident à atteindre <a href="#objectifs-collecte-donnees"><u>les objectifs définis dans cette politique de confidentialité</u></a>. Nous ne collecterons pas de données supplémentaires sans vous en informer au préalable.</p>
</div>
<div class="my-4" id="objectifs-collecte-donnees">
    <h3 class="my-3"><u>Comment utilisons-nous les données personnelles ?</u></h3>
    <p>Les données personnelles collectées sur notre plateforme ne seront utilisées que pour les finalités précisées dans la présente politique ou indiquées sur les pages concernées de notre plateforme. Nous n'utilisons pas vos données au-delà de ce que nous divulguons.</p>
    <p>Les données que nous collectons automatiquement sont utilisées aux fins suivantes :</p>
    <ul class="ml-3">
        <li class="mb-3">1- Amélioration du contenu</li>
        <li class="mb-3">2- Fonctionnement interne</li>
        <li class="mb-3">3- Statistiques</li>
    </ul>
    <p>Les données que nous collectons lorsque l'utilisateur exécute certaines fonctions peuvent être utilisées aux fins suivantes :</p>
    <ul class="ml-3">
        <li class="mb-3">1- Informations de contact</li>
        <li class="mb-3">2- Sécurité et règlement des litiges</li>
        <li class="mb-3">3- Publicité</li>
    </ul>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Avec qui partageons-nous les données personnelles ?</u></h3>
    <h4 class="my-3"><b>Employés</b></h4>
    <p>Nous pouvons divulguer à tout membre de notre organisation les données utilisateur dont il a raisonnablement besoin pour remplir les objectifs énoncés dans la présente politique.</p>
    <h4 class="my-3"><b>Tierces parties</b></h4>
    <p>Nous pouvons partager des données utilisateur avec les tiers suivants :</p>
    <ul class="ml-3">
        <li class="mb-3">1- Organisateurs d'événements</li>
    </ul>
    <p>Les tiers ne pourront pas accéder aux données de l'utilisateur au-delà de ce qui est raisonnablement nécessaire pour atteindre l'objectif donné.</p>
    <h4 class="my-3"><b>Autres divulgations</b></h4>
    <p>Nous nous engageons à ne pas vendre ou partager vos données avec d'autres tiers, sauf dans les cas suivants :</p>
    <ul class="ml-3">
        <li class="mb-3">1- si la loi l'exige</li>
        <li class="mb-3">2- si elle est requise pour toute procédure judiciaire</li>
        <li class="mb-3">3- pour prouver ou protéger nos droits légaux</li>
        <li class="mb-3">4- aux acquéreurs ou acquéreurs potentiels de EVENT-PLACE SARL dans le cas où nous chercherions à la revendre en tout ou en partie</li>
    </ul>
    <p>Si vous suivez des hyperliens de notre plateforme vers un autre site, veuillez noter que nous ne sommes pas responsables et n'avons aucun contrôle sur leurs politiques et pratiques de confidentialité.</p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Combien de temps conservons-nous les données personnelles ?</u></h3>
    <p>Nous ne conservons pas les données des utilisateurs au-delà de ce qui est nécessaire pour remplir les finalités pour lesquelles elles sont collectées.</p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Comment protégeons-nous les données personnelles ?</u></h3>
    <p>Pour nous assurer que votre sécurité est protégée, nous utilisons le protocole de sécurité de la couche de transport pour transmettre des informations personnelles via notre système.</p>
    <p>Toutes les données stockées dans notre système sont bien sécurisées et ne sont accessibles qu'à nos employés. Nos employés sont liés par des accords de confidentialité stricts et une violation de cet accord entraînera le licenciement de l'employé.</p>
    <p>Bien que nous prenions toutes les précautions raisonnables pour nous assurer que nos données d'utilisateur soient sécurisées et que les utilisateurs soient protégés, il reste toujours un risque de préjudice. L'Internet dans son ensemble peut parfois être peu sûr et nous ne sommes donc pas en mesure de garantir la sécurité des données des utilisateurs au-delà de ce qui est raisonnablement pratique.</p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Mineurs</u></h3>
    <p>Les mineurs doivent avoir le consentement d'un représentant légal pour que leurs données soient collectées, traitées et utilisées.</p>
    <p>Nous n'avons pas l'intention de collecter ou d'utiliser les données d'utilisateurs mineurs. Si nous découvrons que nous avons collecté des données auprès d'un mineur, ces données seront immédiatement supprimées.</p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Vos droits en tant qu'utilisateur</u></h3>
    <p>Dans le cadre de nos engagements en matière de gestion et de protection des données personnelles, les utilisateurs disposent des droits suivants en tant que personnes concernées :</p>
    <ul class="ml-3">
        <li class="mb-3">1- droit d'accès</li>
        <li class="mb-3">2- droit de rectification</li>
        <li class="mb-3">3- droit à l'effacement</li>
        <li class="mb-3">4- droit de restreindre le traitement</li>
        <li class="mb-3">5- droit à la portabilité des données</li>
        <li class="mb-3">6- droit d'objection</li>
    </ul>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Comment modifier, supprimer ou contester les données collectées ?</u></h3>
    <p>Si vous souhaitez que vos informations soient supprimées ou autrement modifiées, veuillez contacter par mail notre responsable de la confidentialité des données <b><a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="2a4945445e4b495e6a5e43414f584b474b04494547">[email&#160;protected]</a></b></p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Politique sur les cookies</u></h3>
    <p>Un cookie est un petit fichier, stocké sur le disque dur d'un utilisateur par le site Web. Il a pour finalité de collecter des données relatives aux habitudes de navigation de l'utilisateur.</p>
    <p>Nous utilisons les types de cookies suivants sur notre plateforme :</p>
    <ul class="ml-3">
        <li class="mb-3">
            <p>1- <b>Cookies fonctionnels</b></p>
            <p>Nous les utilisons pour mémoriser toutes les sélections que vous effectuez sur notre plateforme afin qu'elles soient enregistrées pour vos futures visites.</p>
        </li>
        <li class="mb-3">
            <p>2- <b>Cookies analytiques</b></p>
            <p>Cela nous permet d'améliorer la conception et la fonctionnalité de notre plateforme en collectant des données sur le contenu auquel vous accédez et avec lequel vous interagissez lorsque vous utilisez notre plateforme.</p>
        </li>
        <li class="mb-3">
            <p>3- <b>Cookies de ciblage</b></p>
            <p>Cela nous permet d'améliorer la conception et la fonctionnalité de notre plateforme en collectant des données sur le contenu auquel vous accédez et avec lequel vous interagissez lorsque vous utilisez notre plateforme.</p>
        </li>
        <p>Vous pouvez choisir d'être averti à chaque fois qu'un cookie est transmis. Vous pouvez également choisir de désactiver entièrement les cookies dans votre navigateur Internet, mais cela peut diminuer la qualité de votre expérience utilisateur.</p>
        <h4 class="my-3"><b>Cookies tiers</b></h4>
        <p>Nous pouvons utiliser des cookies tiers sur notre plateforme pour atteindre les objectifs suivants :</p>
        <ul class="ml-3">
            <li class="mb-3">1- Surveillez les préférences des utilisateurs pour adapter les publicités à leurs intérêts.</li>
        </ul>
    </ul>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Modifications</u></h3>
    <p>Cette politique de confidentialité peut être modifiée à l'occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de vérifier notre politique de temps à autre pour s'assurer qu'ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par e-mail des changements apportés à cette politique.</p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Contact</u></h3>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter en utilisant ce qui suit :</p>
    <p>EVENT-PLACE SARL, Cité SYNATRESOR Cocody Riviera Abatta, Abidjan, Côte d&#039;Ivoire</p>
    <p><a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="a7c4c8c9d3c6c4d3e7d3ceccc2d5c6cac689c4c8ca">[email&#160;protected]</a></p>
    <p>+225 07 10 28 99 04</p>
</div>
<p class="my-5">Date d'entrée en vigueur : le 1er janvier 2023</p>            </div>
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-theme text-uppercase" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div><div class="modal" id="cgv-embedded" tabindex="-1" role="dialog" aria-labelledby="cgv-embedded" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mx-auto">Conditions générales de vente</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="my-4">
    <p>
        Les présentes conditions générales de vente ci-après dénommées «CGV» sont conclues d'une part par la société EVENT-PLACE SARL au capital de <span class="no-wrap">1 000 000</span> FCFA dont le siège social est situé à cité SYNATRESOR Cocody Riviera Abatta, immatriculée au registre du commerce et des sociétés d'Abidjan sous le numéro CI-ABJ-03-2022-B12-06949 ci-après dénommé « EVENT-PLACE » et d'autre part, par toute personne physique ou morale ci-après dénommée « le Client », souhaitant effectuer un achat via le site internet https://tikerama.com et applications mobiles associées ci-après dénommées « la plateforme ».
    </p>
</div>
<div class="my-4">
    <h3 class="my-3"><u>Définitions</u> :</h3>
    <ul>
        <li><i>- catalogue</i> : liste des événements disponibles proposant des tickets sur la plateforme au moment de la consultation</li>
        <li><i>- distributeur</i> : point de vente physique agréé, partenaire de EVENT-PLACE</li>
        <li><i>- code Client</i> : code unique associé à chaque utilisateur inscrit sur la plateforme</li>
        <li><i>- organisateur</i> : personne physique ou morale ayant publié un ou plusieurs événements sur la plateforme</li>
        <li><i>- articles</i> : tout bien ou service en vente sur la plateforme à savoir des tickets d'événements et produits connexes</li>
    </ul>
</div>
<ol>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Objet du contrat</u></li>
        </h3>
        <p>Les présentes CGV ont pour objet de définir les droits et obligations des parties dans le cadre de la vente de tickets d'événements et de services connexes par l'intermédiaire de la plateforme de billetterie EVENT-PLACE.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Acceptation des CGV</u></li>
        </h3>
        <p>Toute commande passée par le biais de la plateforme entraîne l'acceptation sans réserve des présentes CGV.</p>
        <p>Ces CGV fonctionnent conjointement avec <a class="font-weight-bold" href="../en/conditions/politique-de-confidentialite.html">notre politique de confidentialité</a> et <a class="font-weight-bold" href="../en/conditions/conditions-generales-utilisation.html">conditions générales d'utilisation</a>.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Caractéristiques des articles</u></li>
        </h3>
        <p>Les tickets en vente sont pour les événements mentionnés dans le catalogue. Cependant, nous pouvons également fournir d'autres articles liés aux tickets. Ces tickets sont disponibles à l'achat jusqu'à épuisement des stocks.</p>
        <p>Chaque événement est représenté par une image, une description textuelle, un ensemble de types de tickets et de nombreuses autres informations provenant de l'organisateur.</p>
        <p>Sur la plateforme, vous trouverez presque tous les types d'événements, allant des concerts aux festivals et aux événements sportifs et touristiques.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Zone géographique</u></li>
        </h3>
        <p>La vente de tickets d'événements sur la plateforme n'est pas limitée à une zone géographique, bien que ces événements se déroulent généralement en Côte d'Ivoire.</p>
        <p>Les dates des événements et toutes les conditions se référant aux dates sauf indication contraire sont dans le fuseau horaire GMT (heure d'Abidjan).</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Tarifs</u></li>
        </h3>
        <p>Les prix indiqués dans le catalogue et sur la page de selection des tickets sont les prix mentionnés par l'organisateur de l'événement. EVENT-PLACE ne fixe pas le prix des tickets des événements, chaque organisateur est libre de fixer les prix des tickets et peut les modifier à tout moment. </p>
        <p>Des frais de service (taxes, frais de paiement...etc), dont le montant est indiqué sur la page de paiement, peuvent s'ajouter à ces prix. Le montant TTC payé au moment de l'achat est donc le prix des tickets fixé par l'organisateur, majoré eventuellement des frais de service, constituant ainsi le prix TTC tenant compte de la TVA applicable à la date de la commande. EVENT-PLACE se réserve le droit de modifier à tout moment le montant des frais de service, étant entendu que le montant figurant sur la page de paiement au jour de la commande sera le seul applicable au Client.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Commandes</u></li>
        </h3>
        <p>Afin de passer une commande sur la plateforme, il est recommandé que le Client dispose d'une adresse e-mail valide et suive l'un des processus de commande suivants :</p>
        <p>
        <ul class="ml-3">
            <li>
                <b>a. Processus autonome</b> :
                <ul class="ml-3 my-2">
                    <li>i. Sélectionner des articles (tickets, sièges et produits connexes)</li>
                    <li>ii. Saisir les coordonnées du Client : e-mail, numéro de téléphone et informations de facturation éventuellement</li>
                    <li>iii. Payer la commande avec l'un des moyens de paiement disponibles</li>
                </ul>
            </li>
            <p class="mb-5">Pour les deux autres procédures, le Client doit posséder un compte préalablement sur la plateforme.</p>
            <li class="my-5">
                <b>b. Processus distributeur</b> :
                <ul class="ml-3 my-2">
                    <li>i. Se rendre chez l'un <a href="../en/points-de-vente-physique.html"><u>des distributeurs</u></a></li>
                    <li>ii. Donner les instructions de réservation (l'événement et les tickets souhaités) au distributeur</li>
                    <li>iii. S'identifier auprès du distributeur : communiquer ou faire scanner son code Client</li>
                    <li>iv. Indiquer au distributeur un numéro de téléphone de contact</li>
                    <li>v. Payer au distributeur le montant total de la commande (en espèces par exemple)</li>
                </ul>
            </li>
            <li>
                <b>c. Processus distributeur accéléré</b> :
                <ul class="ml-3 my-2">
                    <li>i. Effectuer la procédure autonome sans effectuer toute la dernière étape du paiement. Procéder plutôt à la sauvegarde de la commande</li>
                    <li>ii. Se rendre chez un distributeur pour finaliser la commande, de la même manière que la dernière étape du processus précédent <i>"Processus distributeur"</i></li>
                </ul>
            </li>
        </ul>
        </p>
        <p>Après validation du paiement, le Client reçoit un email de confirmation de commande. Le Client peut à tout moment au cours du processus de commande consulter le détail de sa commande ainsi que son prix total et corriger d'éventuelles erreurs, avant de confirmer pour exprimer son acceptation.</p>
        <p>Toute commande emporte contractuellement l'acceptation sans réserve de l'intégralité des conditions générales applicables au moment de l'achat telles que les conditions générales de vente et la politique de confidentialité disponibles sur la plateforme. </p>
        <p>En tant que mandataire de l'organisateur de l'événement dans la vente de ses tickets, EVENT-PLACE se réserve la propriété des articles jusqu'au règlement complet de la commande, c'est-à-dire jusqu'à l'encaissement du prix TTC de la commande.</p>
        <p>EVENT-PLACE se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel existerait un quelconque litige, notamment relatif au paiement d'une commande antérieure.</p>
        <p>EVENT-PLACE s'engage à honorer les commandes reçues sur la plateforme seulement dans la limite des stocks disponibles.</p>
        <p>Les distributeurs ne sont pas responsables des erreurs pouvant survenir au cours du <i>Processus distributeur</i> et <i>Processus distributeur accéléré</i>. EVENT-PLACE est la première autorité mandatée dans le règlement des litiges entre le Client et un distributeur.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Modalités de paiement</u></li>
        </h3>
        <p>
            Le règlement des achats s'effectue par l'un des moyens suivants, au choix du Client :
        <ul class="ml-3">
            <li>- Par Mobile Money</li>
            <li>- Par carte de bancaire</li>
            <li>- Par code coupon</li>
            <li>- Chez un distributeur : en espèces ou tout autre moyen accepté par ce dernier</li>
        </ul>
        </p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Expédition et délais de livraison</u></li>
        </h3>
        <p>Dès confirmation de l'achat, EVENT-PLACE se charge d'envoyer les tickets par e-mail au Client. Le délai de traitement de l'envoi de l'email est de 5 minutes après validation du paiement. Les délais de réception de l'e-mail ne dépendent pas de EVENT-PLACE, mais du serveur de messagerie du Client.</p>
        <p>EVENT-PLACE s'engage à livrer les commandes passées par le Client dans les délais impartis. En cas de non livraison des articles plus de deux (2) heures après la commande, le Client pourra procéder à la résolution de la vente et demander le remboursement, sauf cas de force majeure constaté.</p>
        <p>Le Client dispose d'un délai de sept (7) jours à compter de la date d'achat de la commande pour signaler la non réception. Passé ce délai, toute demande de résolution de la vente ne pourra être acceptée. Le Client devra adresser un courrier de réclamation à l'adresse suivante : <a class="font-weight-bold" href="../cdn-cgi/l/email-protection.html#1665776056627f7d7364777b773875797b"><span class="__cf_email__" data-cfemail="394a584f794d50525c4b585458175a5654">[email&#160;protected]</span></a>.</p>
        <p>Le Client est tenu de vérifier le bon état des articles livrés au moment de la livraison. Toute anomalie constatée (articles manquants, informations erronées, etc.) devra être signalée à EVENT-PLACE, par tous moyens suivant la livraison, notamment en écrivant à <a class="font-weight-bold" href="../cdn-cgi/l/email-protection.html#6c1f0d1a2c180507091e0d010d420f0301"><span class="__cf_email__" data-cfemail="ea998b9caa9e83818f988b878bc4898587">[email&#160;protected]</span></a>.</p>
        <p>Avec les mêmes délais de livraison que l'envoi par email, les tickets d'événements réservés sont également disponibles, via la plateforme avec le compte associé à l'email qui a été utilisé lors de la commande.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Utilisation et validité des tickets</u></li>
        </h3>
        <p>Tout ticket commandé et acheté sur la plateforme est soumis au conditions suivantes :</p>
        <h4 class="my-3 ml-4">9.1 <u>Validité du ticket</u></h4>
        <p>Un ticket n'est valable que pour l'événement qu'il concerne, à la date, à l'heure et dans les conditions indiquées sur le ticket. Il est disponible à tout moment dans le compte EVENT-PLACE associé à l'email utilisé lors de la réservation jusqu'à la fin de l'événement.</p>
        <h4 class="my-3 ml-4">9.2 <u>Revente de ticket</u></h4>
        <p>Sauf accord préalable et écrit de EVENT-PLACE, il est formellement et expressément interdit d'offrir à la vente, vendre, revendre, échanger ou transférer un ticket, d'une quelconque manière et à quelque fin que ce soit (en ce compris promotionnelles ou dans le cadre d'une activité commerciale). Il est ainsi notamment interdit de revendre, de permettre la revente d'un ticket sur des plateformes commerciales ou par le biais d'intermédiaires ou de proposer un ticket sur lesdites plateformes, sans l'accord préalable et écrit de EVENT-PLACE. La seule alternative envisageable est le transfert de ticket entre utilisateurs EVENT-PLACE en utilisant la plateforme.</p>
        <h4 class="my-3 ml-4">9.3 <u>Reproduction de ticket</u></h4>
        <p>Toute quelconque falsification, d'une quelconque manière et à quelque fin que ce soit, est formellement et expressément interdite, sous peine d'éventuelles poursuites judiciaires.</p>
        <p>Sauf stipulation expresse contraire de EVENT-PLACE, l'utilisation d'un ticket, quelle que soit sa forme, est unique, pour une seule entrée et pour un seul événement.</p>
        <p>L'organisateur peut refuser l'accès au lieu de l'événement s'il a des doutes sur l'origine ou la qualité du ticket qui lui est présenté. Compte tenu de la difficulté de vérifier avec certitude l'identité de l'acheteur, en cas de vérification obligatoire, seul le porteur du ticket original présenté directement sur la plateforme (dans l'application mobile par exemple) sera admis.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Contrôle des tickets</u></li>
        </h3>
        <p>EVENT-PLACE met à la disposition de l'organisateur de l'événement un système de validation, lecture du code QR des tickets. Sous la responsabilité de l'organisateur, ce système est le seul autorisé pour le contrôle des tickets.</p>
        <p>Le jour de l'événement, le Client ou participant à l'événement doit présenter le QR code du ticket valide aux personnes en charge du contrôle des tickets. Le QR code et les informations du ticket doivent être suffisamment éclairés et facilement lisibles. Le QR code permet l'identification du participant et le détail du ticket. L'organisateur pourra remettre éventuellement au Client, après contrôle, un ticket standard avec deux souches ou un bracelet lui permettant d'assister à l'événement.</p>
        <p>Chaque ticket ne peut être présenté qu'une seule fois au point de contrôle. Si un participant souhaite retourner au point de contrôle (après avoir quitté la salle par exemple), il est impératif de contacter les contrôleurs au préalable.</p>
        <h4 class="my-3 ml-4">10.1 <u>Contrôle de l'identité</u></h4>
        <p>L'organisateur et son équipe de contrôleurs se réservent le droit de contrôler l'identité du Client à l'entrée du lieu où se déroule l'événement. Le Client doit donc être muni d'une pièce d'identité officielle, en cours de validité et avec photo si nécessaire : carte d'identité, passeport, permis de conduire, titre de séjour ou tout autre document accepté par l'organisateur et les contrôleurs.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Annulation et remboursements</u></li>
        </h3>
        <p>Tout ticket acheté sur la plateforme n'est annulable que 30 JOURS avant la date de début de l'événement.</p>
        <p>Lorsque le Client annule sa réservation d'un ticket, il bénéficie d'un remboursement.</p>
        <p>Si un événement a été annulé par l'organisateur de l'événement, tous les participants seront remboursés.</p>
        <p>En cas de remboursement d'un ticket, quelle que soit la raison, le montant remboursé sera partiel et équivaudra à 90% du prix du ticket. Le remboursement se fait par le biais de code coupon, utilisable uniquement sur la plateforme jusqu'à épuisement de son montant.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Responsabilité</u></li>
        </h3>
        <p>EVENT-PLACE est responsable à l'égard des présentes CGV. Conformément à nos conditions générales d'utilisation, EVENT-PLACE décline toute responsabilité en cas d'indisponibilité ou dysfonctionnement du service résultant d'un cas de force majeure.</p>
        <p>EVENT-PLACE ne pourra être tenu responsable des incidents pouvant survenir lors de la commande. De même, EVENT-PLACE n'est pas responsable en cas de perte, de vol ou d'utilisation illicite d'un ticket.</p>
        <p>EVENT-PLACE n'est pas responsable des questions de santé et de sécurité des événements du catalogue.</p>
        <p>EVENT-PLACE n'est pas responsable du déroulement de l'événement (modification de contenu, changement de distribution artistique ou sportive, changement d'horaires, etc.) ou de son annulation.</p>
        <p>Chaque organisateur fixe les règles propres à l'organisation de l'événement. Ce règlement est communiqué par l'organisateur au Client.</p>
        <p>Toute commande du Client implique son adhésion au règlement de l'organisateur, sous peine de voir sa responsabilité engagée.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Service Client</u></li>
        </h3>
        <p>Pour toute information, vous pouvez contacter le service Client de EVENT-PLACE par téléphone en appelant le +225 07 10 28 99 04 (prix d'un appel local) ou par mail <a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="e5868a8b91848691a5918c8e8097848884cb868a88">[email&#160;protected]</a>.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3">
            <li><u>Droit applicable et litiges</u></li>
        </h3>
        <p>Les ventes de tickets effectuées sur la plateforme sont soumises à la loi ivoirienne. En cas de litige, les tribunaux ivoiriens seront seuls compétents.</p>
    </div>
    <div class="my-4">
        <h3 class="my-3"><u>Contact</u></h3>
        <p>Si vous avez des questions, n'hésitez pas à nous contacter en utilisant ce qui suit :</p>
        <p>EVENT-PLACE SARL, Cité SYNATRESOR Cocody Riviera Abatta, Abidjan, Côte d&#039;Ivoire</p>
        <p><a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="e5868a8b91848691a5918c8e8097848884cb868a88">[email&#160;protected]</a></p>
        <p>+225 07 10 28 99 04</p>
    </div>
    <p class="my-5">Date d'entrée en vigueur : le 1er janvier 2023</p>
</ol>            </div>
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-theme text-uppercase" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>    <div class="container-spinner">
    <svg viewBox="0 0 100 100">
        <defs>
            <filter id="shadow">
                <feDropShadow dx="0" dy="0" stdDeviation="0" flood-color="#f0151f" />
            </filter>
        </defs>
        <circle cx="50" cy="50" r="45" />
    </svg>
</div>
<form id="action-token">
    <input type="hidden" name="_token" value="tcmBEqr9xRrjWafq39jYBzWblter8cAV65ENvK5O"></form>
<input name="locale" type="hidden" value="fr">    <div id="back-to-top" class="cursor-pointer py-1 px-2">
        <i class="fa-solid fa-angle-up"></i>
    </div>
    <footer class="text-center auth-footer">
        <ul class="list-inline my-2">
            <li class="list-inline-item pl-2">
                <a href="comment-ca-marche.html">Comment ça marche ?</a>
            </li>
            <li class="list-inline-item pl-2 border-left">
                <a href="evenements.html">Tous les événements</a>
            </li>
            <li class="list-inline-item pl-2 border-left">
                <a href="points-de-vente-physique.html">Points de vente physique</a>
            </li>
            <li class="list-inline-item pl-2 border-left">
                <a href="faq.html">FAQ</a>
            </li>
            <li class="list-inline-item pl-2 border-left">
                <a href="tarifs.html">Tarifs</a>
            </li>
            <li class="list-inline-item pl-2 border-left">
                <a href="nous-contacter.html">Nous contacter</a>
            </li>
            <li class="list-inline-item pl-2 border-left">
                <a href="mentions-legales.html">Mentions légales</a>
            </li>
        </ul>
        <div class="copyright">
            <small>&copy; 2024 EVENT-PLACE, tous droits reservés.</small>
        </div>
    </footer>
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="/js/jquery.dirty.min.js"></script>
    <script type="text/javascript" src="/js/intlTelInput.min.js"></script>
    <script type="text/javascript" src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="text/javascript" src="/js/jwt-decode.min.js"></script>
    <script type="text/javascript" src="../../connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v15.0&appId=815330586452577&autoLogAppEvents=1" crossorigin="anonymous" nonce="nsvvXlCI" async defer></script>
    <script type="text/javascript" src="../../www.google.com/recaptcha/api5a07.js?render=6Lc8fKQiAAAAAPcKt9lBRuhiVJ5NwmusJnhn0MQH" async></script>
    </body>
</html>